$bright-pink-crayola: rgba(239, 71, 111, 1);  
$sunglow: rgba(255, 209, 102, 1);  
$emerald: rgba(6, 214, 160, 1);  
$blue-ncs: rgba(17, 138, 178, 1);  
$midnight-green: rgba(7, 59, 76, 1);

$familyMon: 'Montserrat', sans-serif;
$familyPop: 'Poppins', sans-serif;
    
html
{
    font-size: 18px;
    font-family: $familyMon;
    body
    {
        header
        {
            color: white;
            .headHeader
            {
                height: auto;
                display: flex;
                background-color: $midnight-green;
                
                .mark
                {
                    img
                    {
                        margin: 10% 0 0 10%;
                    }
                }
                
                .nav
                {
                    display: flex;
                    align-items: center;
                    ul
                    {
                        display: flex;
                        li
                        {
                            margin-left: 8vw;
                            margin-top: 5%;
                        }
                        
                    }
                }
            }
            .headBody
            {
                height: 400px;
                background-image: url("../../images/home-books.png");
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                .textHead
                {
                    text-align: center;
                    margin-bottom: 26px;
                    
                    h1{
                        font-size: 4rem;
                    }
                    h2{
                        font-size: 2rem;
                    }
                }
                
                .buttonsHead
                {
                    height: 40px;
                    button{
                        width: 150px;
                        height: 100%;
                        text-align: center;
                        border-radius: 10px;
                        
                        p{
                            margin: 10px;
                        }
                        
                    }
                    button:first-child{
                        background-color: $bright-pink-crayola;
                        color: white;
                    }
                    button:last-child{
                        background-color: $emerald;
                        
                    }
                }
            }
        }

        .container
        {
            display: flex;
            align-items: center;
            flex-direction: column;
            h3
            {
                text-align: center;
                margin-top: 80px;
                font-weight: bold;
                span
                {
                    border-bottom: solid 3px $bright-pink-crayola;
                }
            }
            
            
            #lib
            {
                margin: 150px auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                
                article
                {
                    width: 30%;
                    height: 100vh;
                }
            }
            
            
            button
            {
                margin: 20px auto;
                width: 250px;
                height: 40px;
                background-color: $bright-pink-crayola;
                color: white;
            }
        }
    }
}

